{% extends 'budsidesk_app/base.html' %}
{% block content %}
  <div class="container">
    <h1> What you can do?</h1>
    <p>ready for: </p>
    <a href="" class="btn btn-primary">Upcoming Invoice Due Reminder
</a>
    <a href="" class="btn btn-secondary">Tax Payment Deadline
</a>
    <a href="" class="btn btn-secondary">Timesheet Not Filled Alert</a>
    <a href="" class="btn btn-secondary">Budget Overlimit Soft Notification</a>
    <a href="" class="btn btn-secondary">Smart Scheduling: When You Want to Be Reminded</a>
  </div>
{% endblock %}
